################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XppMetadata/FOChatGPTExamples/AxClass
/BuildProjectResult.xml
/BuildProjectResult.log
/BuildProjectResult.err.xml
/BuildModelResult.xml
/BuildModelResult.log
/BuildModelResult.err.xml
/bin/FOChatGPTExamples_ModelInfo.md
/bin/FOChatGPTExamples_AxWorkflowTemplateExtension.md
/bin/FOChatGPTExamples_AxWorkflowTemplate.md
/bin/FOChatGPTExamples_AxWorkflowTaskExtension.md
/bin/FOChatGPTExamples_AxWorkflowTask.md
/bin/FOChatGPTExamples_AxWorkflowQueueAssignmentProvider.md
/bin/FOChatGPTExamples_AxWorkflowParticipantAssignmentProvider.md
/bin/FOChatGPTExamples_AxWorkflowHierarchyAssignmentProvider.md
/bin/FOChatGPTExamples_AxWorkflowDueDateCalculationProvider.md
/bin/FOChatGPTExamples_AxWorkflowCategory.md
/bin/FOChatGPTExamples_AxWorkflowAutomatedTask.md
/bin/FOChatGPTExamples_AxWorkflowApprovalExtension.md
/bin/FOChatGPTExamples_AxWorkflowApproval.md
/bin/FOChatGPTExamples_AxViewExtension.md
/bin/FOChatGPTExamples_AxView.md
/bin/FOChatGPTExamples_AxUpdate.md
/bin/FOChatGPTExamples_AxTypeForwarderList.md
/bin/FOChatGPTExamples_AxTile.md
/bin/FOChatGPTExamples_AxTableExtension.md
/bin/FOChatGPTExamples_AxTableCollection.md
/bin/FOChatGPTExamples_AxTable.md
/bin/FOChatGPTExamples_AxServiceGroup.md
/bin/FOChatGPTExamples_AxService.md
/bin/FOChatGPTExamples_AxSecurityRoleExtension.md
/bin/FOChatGPTExamples_AxSecurityRole.md
/bin/FOChatGPTExamples_AxSecurityPrivilege.md
/bin/FOChatGPTExamples_AxSecurityPolicy.md
/bin/FOChatGPTExamples_AxSecurityDutyExtension.md
/bin/FOChatGPTExamples_AxSecurityDuty.md
/bin/FOChatGPTExamples_AxSecurityDirectAccessPermission.md
/bin/FOChatGPTExamples_AxRuleSet.md
/bin/FOChatGPTExamples_AxResource.md
/bin/FOChatGPTExamples_AxReportXYChartStyleTemplate.md
/bin/FOChatGPTExamples_AxReportTableStyleTemplate.md
/bin/FOChatGPTExamples_AxReportPieDoughnutChartStyleTemplate.md
/bin/FOChatGPTExamples_AxReportMatrixStyleTemplate.md
/bin/FOChatGPTExamples_AxReportListStyleTemplate.md
/bin/FOChatGPTExamples_AxReportLayoutTemplate.md
/bin/FOChatGPTExamples_AxReportExternalDataSource.md
/bin/FOChatGPTExamples_AxReportEmbeddedImage.md
/bin/FOChatGPTExamples_AxReport.md
/bin/FOChatGPTExamples_AxReference.md
/bin/FOChatGPTExamples_AxQuerySimpleExtension.md
/bin/FOChatGPTExamples_AxQuery.md
/bin/FOChatGPTExamples_AxPartCueGroup.md
/bin/FOChatGPTExamples_AxPartCue.md
/bin/FOChatGPTExamples_AxPage.md
/bin/FOChatGPTExamples_AxMenuItemOutputExtension.md
/bin/FOChatGPTExamples_AxMenuItemOutput.md
/bin/FOChatGPTExamples_AxMenuItemDisplayExtension.md
/bin/FOChatGPTExamples_AxMenuItemDisplay.md
/bin/FOChatGPTExamples_AxMenuItemActionExtension.md
/bin/FOChatGPTExamples_AxMenuItemAction.md
/bin/FOChatGPTExamples_AxMenuExtension.md
/bin/FOChatGPTExamples_AxMenu.md
/bin/FOChatGPTExamples_AxMapExtension.md
/bin/FOChatGPTExamples_AxMap.md
/bin/FOChatGPTExamples_AxMacroDictionary.md
/bin/FOChatGPTExamples_AxLicenseCode.md
/bin/FOChatGPTExamples_AxLabelFile.md
/bin/FOChatGPTExamples_AxKPI.md
/bin/FOChatGPTExamples_AxInfoPart.md
/bin/FOChatGPTExamples_AxIgnoreDiagnosticList.md
/bin/FOChatGPTExamples_AxFormPart.md
/bin/FOChatGPTExamples_AxFormExtension.md
/bin/FOChatGPTExamples_AxForm.md
/bin/FOChatGPTExamples_AxEventSubscription.md
/bin/FOChatGPTExamples_AxEnumExtension.md
/bin/FOChatGPTExamples_AxEnum.md
/bin/FOChatGPTExamples_AxEdtExtension.md
/bin/FOChatGPTExamples_AxEdt.md
/bin/FOChatGPTExamples_AxDataEntityViewExtension.md
/bin/FOChatGPTExamples_AxDataEntityView.md
/bin/FOChatGPTExamples_AxConfigurationKeyGroup.md
/bin/FOChatGPTExamples_AxConfigurationKey.md
/bin/FOChatGPTExamples_AxCompositeDataEntityView.md
/bin/FOChatGPTExamples_AxClass.md
/bin/FOChatGPTExamples_AxAggregateMeasurement.md
/bin/FOChatGPTExamples_AxAggregateDimension.md
/bin/FOChatGPTExamples_AxAggregateDataEntity.md
/bin/FOChatGPTExamples_AxAggregateCalculatedMeasureTemplateOtherPeriod.md
/bin/FOChatGPTExamples_AxAggregateCalculatedMeasureTemplate.md
/bin/Dynamics.AX.FOChatGPTExamples.TableMappings.runtime
/bin/Dynamics.AX.FOChatGPTExamples.TableExtends.runtime
/bin/Dynamics.AX.FOChatGPTExamples.ODataExtensionsExtends.runtime
/bin/Dynamics.AX.FOChatGPTExamples.ODataExtends.runtime
/bin/Dynamics.AX.FOChatGPTExamples.ExtensionsClassTargets.xmlcmrysrr2.qza.delete
/bin/Dynamics.AX.FOChatGPTExamples.ExtensionsClassTargets.xml
/bin/Dynamics.AX.FOChatGPTExamples.EventHandlersModule.pdbp0m1jail.ai5.delete
/bin/Dynamics.AX.FOChatGPTExamples.EventHandlersModule.pdb
/bin/Dynamics.AX.FOChatGPTExamples.EventHandlersModule.netmodule45g2tidy.dmf.delete
/bin/Dynamics.AX.FOChatGPTExamples.EventHandlersModule.netmodule
/bin/Dynamics.AX.FOChatGPTExamples.EdtExtends.runtime
/bin/Dynamics.AX.FOChatGPTExamples.dllu2mprowc.bsj.delete
/bin/Dynamics.AX.FOChatGPTExamples.dll
/bin/Dynamics.AX.FOChatGPTExamples.DeleteActions.runtime
/bin/Dynamics.AX.FOChatGPTExamples.ClassExtends.runtime
/bin/Dynamics.AX.FOChatGPTExamples.Class.SysHelpPane_Form_EH.pdbfhc355uz.0pu.delete
/bin/Dynamics.AX.FOChatGPTExamples.Class.SysHelpPane_Form_EH.pdb
/bin/Dynamics.AX.FOChatGPTExamples.Class.SysHelpPane_Form_EH.netmodulezx05lkz5.pvx.delete
/bin/Dynamics.AX.FOChatGPTExamples.Class.SysHelpPane_Form_EH.netmodule.xml
/bin/Dynamics.AX.FOChatGPTExamples.Class.SysHelpPane_Form_EH.netmodule
/bin/Dynamics.AX.FOChatGPTExamples.ChainOfCommandModule.pdb
/bin/Dynamics.AX.FOChatGPTExamples.ChainOfCommandModule.netmoduleqyqvy1br.mmv.delete
/bin/Dynamics.AX.FOChatGPTExamples.ChainOfCommandModule.netmodule
/bin/Dynamics.AX.FOChatGPTExamples.ChainOfCommand.xmlrczstm50.u5k.delete
/bin/Dynamics.AX.FOChatGPTExamples.ChainOfCommand.xml
/bin/Dynamics.AX.FOChatGPTExamples.0.netmodule.xml
/Projects/ChatGPTExamples/ChatGPTWrapper/obj/Debug
/Projects/ChatGPTExamples/ChatGPTWrapper/bin/Debug
/bin/*.pdb
/bin/*.netmodule
/Projects/ChatGPTExamples/.vs/*
