################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XppMetadata/FOChatGPTExamples/AxClass
